$primary-color: rgb(254,198,6);
$additional-color:rgb(255, 234, 122);
$footer-color:rgb(237, 92, 8);

@mixin a-body($opacity){
  border: 0;
  text-decoration: none;
  color: black;
  opacity: $opacity;
}

a{
  @include a-body(1);
  transition:0.2s;
}
a:hover{
  @include a-body(0.5);
}
a:active{
  @include a-body(0.5);
}

li{
  display: inline-block;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

body{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction:column;
} 

@import 'header';
@import 'nav';
@import 'main';
@import 'footer';

