.coment{
    display: none;
}

.input[type="checkbox"]:checked ~ .coment{
    display: block;
    }
.tmp-navig-button{
    background: #fec606;
    border: 1px solid;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    outline: none;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    width: max-content;
}
.container-My-Dream{
    box-shadow: 0 1px 4px #fec606,
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px #fec606 inset;
    border: 2px solid #fec606

}
.author {
    margin-left: 10px;
}
.date {
    color: #777;
    font-size: 14px;
    margin-left: 5px;
}
.footer-comment {
  color: #777;
  margin-bottom: 4px;

}
.vote.plus:hover {
  color: green;
}
.vote.minus:hover {
  color: red;
}
.vote {
  cursor: pointer;
}
.comment-reply a {
  color: #777;
}
.comment-reply a:hover, .comment-reply a:focus {
  color: #000;
  text-decoration: none;
}
.devide {
  padding: 0px 4px;
  font-size: 0.9em;
}
.media-text {
    margin-top: 5px;margin-bottom: 5px;
}
.title-comments {
    border-top: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    margin-bottom: 5px;
}
.media2{
    margin-left: 40px;
    
}

.div1{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.img-rounded{
    width: 25px;
    height: 25px;
}