.h3Letter{
    border-top: 1px solid;
}
.words {
    background-color: #fec606;
    border: 1px solid;
    border-radius: 10px;
    margin: 0px 10px 8px;
    text-align: center;
    padding: 4px;
}
.words:hover {
    border: 1px solid;
    background-color: #fec606;
}
.words:active {
    border: 1px solid;
    background-color: #fec606;
}

.descriptionWordContainer{
    display: flex;
    flex-wrap: wrap;

    .containerWord{
        width: 33%;

        .discription {
            background-color: aliceblue;
            border: 1px solid;
            border-radius: 10px;
            margin: 0px 10px 8px;
            text-align: center;
            padding: 7px;
        }
        .discription:hover {
            border: 1px solid;
            //   background-color: #fec606;
        }
        .discription:active {
            border: 1px solid;
            // background-color: #fec606;
        }
        
        .containerHide{
         border-bottom: 1px solid;
        }
    }
}

// dreamBooksMyAll
.coment{
    display: none;
}

.input[type="checkbox"]:checked ~ .coment{
    display: block;
    }
.tmp-navig-button{
    background: #fec606;
    border: 1px solid;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    outline: none;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    width: 62px;
}
.container-My-Dream{
    box-shadow: 0 1px 4px #fec606,
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px #fec606 inset;
    border: 2px solid #fec606

}