.h3Letter {
  border-top: 1px solid;
}

.words {
  background-color: #fec606;
  border: 1px solid;
  border-radius: 10px;
  margin: 0px 10px 8px;
  text-align: center;
  padding: 4px;
}

.words:hover {
  border: 1px solid;
  background-color: #fec606;
}

.words:active {
  border: 1px solid;
  background-color: #fec606;
}

.descriptionWordContainer {
  display: flex;
  flex-wrap: wrap;
}
.descriptionWordContainer .containerWord {
  width: 33%;
}
.descriptionWordContainer .containerWord .discription {
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 10px;
  margin: 0px 10px 8px;
  text-align: center;
  padding: 7px;
}
.descriptionWordContainer .containerWord .discription:hover {
  border: 1px solid;
}
.descriptionWordContainer .containerWord .discription:active {
  border: 1px solid;
}
.descriptionWordContainer .containerWord .containerHide {
  border-bottom: 1px solid;
}
